DocumentBroker/GenerateRequest_validator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GenerateRequest_validator"
           version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

<xs:element name="GenerateDocumentRequest">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Context"/>
      <xs:element name="Document"/>
      <xs:element name="Generate"/>
      <xs:any  minOccurs="1" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
	
	
</xs:schema>
