DocumentBroker/GenerateRequest_validator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GenerateDocumentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Context">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UserName" type="xs:string" />
							<xs:element name="Application" type="xs:string" />
							<xs:element name="RequestId" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Document">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentType" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Generate">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Parameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Naam" type="xs:string" />
										<xs:element name="Bedrag" type="xs:decimal" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>